<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Développement d'application internet</display-name>
    <servlet>
        <servlet-name>ServletAuteur</servlet-name>
        <servlet-class>org.ctrl.ServletAuteur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <jsp-file>/WelcomePage.html</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReadTable</servlet-name>
        <jsp-file>/jsp/ReadTable.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BConnectionCtrl</servlet-name>
        <servlet-class>org.ctrl.BConnectionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePageCtrl</servlet-name>
        <servlet-class>org.ctrl.WelcomePageCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BConnection</servlet-name>
        <jsp-file>/jsp/BConnection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VConnection</servlet-name>
        <jsp-file>/jsp/VConnection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VConnectionCtrl</servlet-name>
        <servlet-class>org.ctrl.VConnectionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorInfo</servlet-name>
        <jsp-file>/jsp/VisitorInfo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAuteur</servlet-name>
        <url-pattern>/ServletAuteur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadTable</servlet-name>
        <url-pattern>/ReadTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePageCtrl</servlet-name>
        <url-pattern>/WelcomePageCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VConnection</servlet-name>
        <url-pattern>/VConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BConnection</servlet-name>
        <url-pattern>/BConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BConnectionCtrl</servlet-name>
        <url-pattern>/BConnectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VConnectionCtrl</servlet-name>
        <url-pattern>/VConnectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorInfo</servlet-name>
        <url-pattern>/VisitorInfo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Auteurs</welcome-file>
    </welcome-file-list>
</web-app>
