<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Project Bank</display-name>
    <servlet>
        <servlet-name>WelcomePage</servlet-name>
        <jsp-file>/jsp/WelcomePage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllCompanyInfos</servlet-name>
        <jsp-file>/jsp/AllCompanyInfos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BConnectionCtrl</servlet-name>
        <servlet-class>org.ctrl.BConnectionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomePageCtrl</servlet-name>
        <servlet-class>org.ctrl.WelcomePageCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BConnection</servlet-name>
        <jsp-file>/jsp/BConnection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VConnection</servlet-name>
        <jsp-file>/jsp/VConnection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VConnectionCtrl</servlet-name>
        <servlet-class>org.ctrl.VConnectionCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisitorInfo</servlet-name>
        <jsp-file>/jsp/VisitorInfo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ReportCtrl</servlet-name>
        <servlet-class>org.ctrl.ReportCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <jsp-file>/jsp/Report.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NoReport</servlet-name>
        <jsp-file>/jsp/NoReport.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CompanyInfoCtrl</servlet-name>
        <servlet-class>org.ctrl.CompanyInfoCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllCompanyInfosCtrl</servlet-name>
        <servlet-class>org.ctrl.AllCompanyInfosCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOperatingCostData</servlet-name>
        <servlet-class>org.ctrl.getOperatingCostData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAssetsData</servlet-name>
        <servlet-class>org.ctrl.GetAssetsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <jsp-file>/jsp/test.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomePageCtrl</servlet-name>
        <url-pattern>/WelcomePageCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VConnection</servlet-name>
        <url-pattern>/VConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BConnection</servlet-name>
        <url-pattern>/BConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BConnectionCtrl</servlet-name>
        <url-pattern>/BConnectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VConnectionCtrl</servlet-name>
        <url-pattern>/VConnectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisitorInfo</servlet-name>
        <url-pattern>/VisitorInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCompanyInfos</servlet-name>
        <url-pattern>/AllCompanyInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomePage</servlet-name>
        <url-pattern>/WelcomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportCtrl</servlet-name>
        <url-pattern>/ReportCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoReport</servlet-name>
        <url-pattern>/NoReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyInfoCtrl</servlet-name>
        <url-pattern>/CompanyInfoCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllCompanyInfosCtrl</servlet-name>
        <url-pattern>/AllCompanyInfosCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOperatingCostData</servlet-name>
        <url-pattern>/GetOperatingCostData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAssetsData</servlet-name>
        <url-pattern>/GetAssetsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/WelcomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
