html {
    background: white;
    background-image:url("../image/5.jpg");
    margin: 0px; padding: 0px; text-align: center;
    background-repeat:repeat;
    background-size:120%;
    background-position:center top;
    height: 800px; 
}


body{
    /*white-space:nowrap;*/
    margin-left: 10%; 
    margin-right: 10%; 
    margin-top: 5%;
    padding-top: 1%; 
    text-align: center;   
    font-family: Arial;
    height: 1300px;    
    opacity: 0.91;
    font-family: Arial;
    background-color:white;
    /*background-color:#9BCAFD;
    background-color:#D8F0F0;*/
    text-align: center;
}

#connectpage{
    height: 550px;
    padding-top: 7%;
}

h1,h2{
    text-align: center;
    font-family: Comic Sans MS;
    corlor: #5A6CD8;
}

form{
    margin: 20px;
    padding: 10px;
    text-align: center;
}
input{
    border-color: white;
    border-radius: 12px;
}
table,th,td{
    margin: auto;
    /*background-color: #DBEDDB;*/
    border:0.5px solid white;
    border-color: #0074D9;
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 12px;
    word-wrap: break-word;
}

#companyt{
    margin-top: 3%;
}
/*
table td{
    white-space:pre-line;
    word-break: break-all;
    word-wrap: break-word;
}*/

#menu li{
    float:left;
    border:none;
    border-radius: 20px;
    color: white;
    padding: 10px 10px;
    width:220px;
    height: 50px;
    text-align:center;
    vertical-align: middle;
    background-color:#0074D9;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: Comic Sans MS;
    font-weight: bold;
    margin: 4px 30px;
    cursor: pointer;
}

#page{
    margin-left: 10%;
}
#page li{
    float:left;
    border:none;
    border-radius: 20px;
    color: white;
    padding: 10px 10px;
    width:40px;
    height: 20px;
    text-align:center;
    vertical-align: middle;
    background-color:#0074D9;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: Comic Sans MS;
    font-weight: bold;
    margin: 2% 0.3%;
    cursor: pointer;
}

button{
    white-space:nowrap;
    background-color:#4169E1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color:#0074D9;
    text-align: center;
}
a:visited {
    text-decoration: none;
    color:#001f3f;
}
a:hover {
    text-decoration: none;
    color:#7FDBFF;
}
a:active {
    text-decoration: none;
    color:#7D8CFB;
}

.error{
    margin: 15px;
    padding: 10px;
    text-align: center;
    color: red;
    font-size: 14px;
}
#companypage{
    /*background-color: #C0D8D8;*/
    width: 1500px;
    height: 800px;
    
}
#welcomepage{
    /*background-image:url("image/1.jfif");*/
    background-repeat:no-repeat;
    background-size:100%;
    height: 700px;
    /*background-position:center top;*/
}
/*#connectpage{
    background-image: url("../image/2.webp");
    background-repeat:no-repeat;
    background-size:100%;
    height: 600px;
}
*/
#reportpage{
    width: 2200px;
    height: 1500px;
    
}

#report{
    margin: 1%;
}

#opChart{
    margin-top: 2%;
    padding-left:3%; 
}

#recommend{
    

}
/*
#visitpage{
    background-image: url("../image/2.webp");
    background-repeat:no-repeat;
    background-size:100%;
    height: 600px;
}*/

#welcome{
    margin: auto;
    padding: 5px 5px;
    border:none;
    border-radius: 10px;
    /*background-color: #339900;*/
    font-weight: bold;
}

#menu{
    pointer-events:auto;
}

#calendar{
    white-space:nowrap;
    display: block;
    position: absolute;
    margin-top: 3%;
    margin-left:auto;
    margin-right: auto;
    padding-left:100px;
    padding-right: 100px;
    padding-bottom:100px;
    padding-top: 120px;
    pointer-events:none;
}

form{
    margin: auto;
    padding-top: 50px;
}
table a:hover{
    font-size: 15px;
}


.pseudo{
    width:280px;
    height:30px;
    margin: 1%;
}

.psw{
    width:280px;
    height:30px;
    margin: 0.7%;
}

.sb{
    background-color:#0074D9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
